<!DOCTYPE html>

<html lang="id">
    <head>
        <title>Generasi Cuan</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="theme-color" content="#FFF">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Find the best mentors and seminars from our website">
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:title" content="Generasi Cuan">
        <meta property="og:site_name" content="Generasi Cuan">
        <meta property="og:image" content="./icons/512x512.png">
        <meta property="og:description" content="Find the best mentors and seminars from our website">
        <link rel="apple-touch-icon" href="./icons/144x144.png" type="image/png">
        <link rel="icon" href="favicon.png" type="image/png">
        <link rel="manifest" href="manifest.json">
    </head>
    <body>
        <main></main>
    </body>
</html>