h1{
    font-size: calc(1.8rem * 2);
}

h2{
    font-size: calc(1.8rem * 1.5);
}

h3{
    font-size: calc(1.8rem * 1.17);
}

a, b, i, u, p, span{
    font-size: calc(1.8rem * 1);
}



@media (max-width: 800px){
    h1{
        font-size: calc(1.2rem * 2);
    }
    
    h2{
        font-size: calc(1.2rem * 1.5);
    }
    
    h3{
        font-size: calc(1.2rem * 1.17);
    }
    
    a, b, i, u, p, span{
        font-size: calc(1.2rem * 1);
    }
}