.seminar-box{
    width: 100%;
    box-sizing: border-box;
    padding: 20rem 0 35rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.seminar-box > .icon_half-circle-4d78f9{
    --icon-size: 24rem;
    position: absolute;
    left: -12rem;
    bottom: 0;
    opacity: 50%;
}

.seminar-box > .icon_quarter-circle-e7d9ff{
    --icon-size: 14rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* TEXT BOX */
.seminar-box > .text-box{
    width: 50%;
    min-width: 60rem;
    padding-left: 15rem;
    position: relative;
}

.seminar-box > .text-box > h2{
    margin-bottom: 2rem;
    font-size: 3.2rem;
    font-weight: 600;
}

.seminar-box > .text-box > .point7x7-1{
    --icon-size: 6.2rem;
    position: absolute;
    top: -10rem;
    left: 5rem;
}

.seminar-box > .text-box > .point7x7-2{
    --icon-size: 8.8rem;
    position: absolute;
    bottom: -15rem;
    right: -5rem;
}

.seminar-box > .text-box > .wave-1{
    --icon-size: 12rem;
    position: absolute;
    top: -13rem;
    right: -6rem;
}

.seminar-box > .text-box > .wave-2{
    --icon-size: 12rem;
    position: absolute;
    bottom: -17rem;
    left: 5rem;
}

.seminar-box > .text-box > button.left{
    --icon-size: 4.2rem;
    position: absolute;
    top: 0;
    right: -5rem;
    border: none;
    border-radius: 50%;
    box-shadow: -2px 0 10px 0 #DCDCDC;
}

.seminar-box > .text-box > button.right{
    --icon-size: 4.2rem;
    position: absolute;
    top: 0;
    right: -11rem;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 0 10px 0 #DCDCDC;
}

/* SLIDE BOX */
.seminar-box > .slide-box{
    width: 50%;
    margin-left: 20rem;
    padding: 2rem 0;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    flex-shrink: 0;
    overflow: hidden;
}

.seminar-box > .slide-box > .seminar{
    width: 45rem;
    height: 55rem;
    margin: 0 2rem;
    flex-shrink: 0;
    position: relative;
    border-radius: 1.8rem;
    box-shadow: 0 5px 10px 0 #dcdcdc;
}

.seminar-box > .slide-box > .seminar > img{
    width: 100%;
    height: 25rem;
    display: inline-block;
    border-radius: 1.8rem;
    background-color: #EBEBEB;
    object-fit: cover;
}

.seminar-box > .slide-box > .seminar > .text-box{
    width: 100%;
    height: auto;
    padding: 0 3.5rem;
}

.seminar-box > .slide-box > .seminar > .text-box > .type-box{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
}

.seminar-box > .slide-box > .seminar > .text-box > .type-box > .type-icon{
    --icon-size: 2.5rem;
    margin-right: 1rem;
}

.seminar-box > .slide-box > .type-android > .text-box > .type-box,
.seminar-box > .slide-box > .type-android > button{
    color: #3B68F7;
}

.seminar-box > .slide-box > .type-android > .text-box > .type-box > .type-icon{
    background-position-x: calc(var(--icon-size) * -1 * 4);
    background-position-y: calc(var(--icon-size) * -1 * 3);
}

.seminar-box > .slide-box > .type-web > .text-box > .type-box,
.seminar-box > .slide-box > .type-web > button{
    color: #7E31FD;
}

.seminar-box > .slide-box > .type-web > .text-box > .type-box > .type-icon{
    background-position-x: calc(var(--icon-size) * -1 * 3);
    background-position-y: calc(var(--icon-size) * -1 * 3);
}

.seminar-box > .slide-box > .type-ui > .text-box > .type-box,
.seminar-box > .slide-box > .type-ui > button{
    color: #E84779;
}

.seminar-box > .slide-box > .type-ui > .text-box > .type-box > .type-icon{
    background-position-x: calc(var(--icon-size) * -1 * 5);
    background-position-y: calc(var(--icon-size) * -1 * 3);
}

.seminar-box > .slide-box > .seminar > .text-box > h3{
    width: 100%;
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 1.8rem;
    font-weight: 600;
    overflow: hidden;
}

.seminar-box > .slide-box > .seminar > .text-box > p{
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: #828282;
    overflow: hidden;
}

.seminar-box > .slide-box > .seminar > button{
    position: absolute;
    left: 3.5rem;
    bottom: 2.5rem;
    font-size: 1.8rem;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}


/* DETAIL BOX */
.seminar-box > .detail-box{
    width: 45rem;
    padding: 2rem;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 25%;
    background-color: #FBFBFB;
    border-radius: 2rem;
    box-shadow: 0 5px 10px 0 #DCDCDC;
    transition: left .5s;
    z-index: 100;
}

.seminar-box > .detail-box > h3{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.seminar-box > .detail-box > .datetime{
    margin-bottom: 1rem;
    display: inline-block;
    font-size: 2.5rem;
}

.seminar-box > .detail-box > p{
    max-height: 18rem;
    overflow: auto;
}



@media (max-width: 800px){
    .seminar-box{
        padding: 10rem 2rem 5rem 2rem;
        flex-direction: column;
        overflow: unset;
    }

    /* TEXT BOX */
    .seminar-box > .text-box{
        width: 100%;
        min-width: unset;
        margin-bottom: 10rem;
        padding: 0;
    }

    .seminar-box > .icon_half-circle-4d78f9,
    .seminar-box > .icon_quarter-circle-e7d9ff,
    .seminar-box > .text-box > .point7x7-2,
    .seminar-box > .text-box > button{
        display: none;
    }

    .seminar-box > .text-box > .point7x7-1{
        --icon-size: 5rem;
        top: -7rem;
        left: -4rem;
    }

    .seminar-box > .text-box > .wave-1{
        --icon-size: 8rem;
        top: -2rem;
        right: -2rem;
    }

    .seminar-box > .text-box > .wave-2{
        --icon-size: 8rem;
        bottom: -8rem;
        left: -2rem;
    }

    .seminar-box > .text-box > h2{
        font-size: 2rem;
    }

    .seminar-box > .text-box > p{
        font-size: 1.2rem;
    }

    /* SLIDE BOX*/
    .seminar-box > .slide-box{
        width: 100%;
        margin: 0;
        overflow: scroll hidden;
        scrollbar-width: 0;
    }
    
    .seminar-box > .slide-box::-webkit-scrollbar:horizontal{
        height: 0;
    }

    .seminar-box > .slide-box > .seminar{
        width: 28rem;
        height: 36rem;
        max-width: 90%;
        margin: 0 1.5rem 0 .5rem;
        border-radius: 1.2rem;
    }

    .seminar-box > .slide-box > .seminar > img{
        width: 100%;
        height: 18rem;
        border-radius: 1.2rem;
    }

    .seminar-box > .slide-box > .seminar > .text-box{
        padding: 0 2rem;
    }

    .seminar-box > .slide-box > .seminar > .text-box > .type-box > .type-icon{
        --icon-size: 1.5rem;
        margin-right: .5rem;
    }

    .seminar-box > .slide-box > .seminar > .text-box > .type-box > .type-name{
        font-size: 1rem;
    }

    .seminar-box > .slide-box > .seminar > .text-box > h3{
        margin-bottom: .5rem;
        font-size: 1.1rem;
    }

    .seminar-box > .slide-box > .seminar > .text-box > p{
        font-size: 1rem;
    }

    .seminar-box > .slide-box > .seminar > button{
        font-size: 1rem;
        left: 2rem;
        bottom: 1.5rem;
    }

    /* DETAIL BOX */
    .seminar-box > .detail-box{
        width: 80%;
        border-radius: 1rem;
    }

    .seminar-box > .detail-box > h3{
        font-size: 1.2rem;
    }

    .seminar-box > .detail-box > .datetime{
        font-size: 1.6rem;
    }
}
