name: Hosting Data To Firebase On Push

on:
  push:
    branches: 
      - data

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Branch
        run:  actions/checkout@v2
      
      - name: Install Depedencies
        run: npm install firebase-tools
      
      - name: Deploy
        run: firebase deploy --project apis
        env:
          CI: true
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}